<div class="container-fluid">
    <div class="row mt-2">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="card mat-elevation-z4">
                <div class="card-body">
                    <div class="img-container">
                        <img [src]="Website.site_image_url">
                    </div>
                    <h1 class="mat-h1">
                        {{Website.site_name}}
                    </h1>
                    <div class="bg-secondary text-white border-2 p-1 radius">
                        {{Website.site_url}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="card mat-elevation-z4" style="position: sticky; top: 16%">
                <mat-card>
                    <mat-card-content>
                        <h2 class="mat-h1 text-center">
                            {{password.id ? 'Update Password' : 'Add New Password'}}
                        </h2>
                        <p class="text-center">
                            {{password.id ? 'Update your password from below form':'You can add a new password from the
                            below form'}}
                        </p>
                        <!-- Form -->
                        <form [formGroup]="PasswordForm" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <mat-form-field appearance="fill">
                                    <mat-label>Email</mat-label>
                                    <input type="text" matInput formControlName="email">
                                </mat-form-field>
                            </div>
                            <div class="row">
                                <mat-form-field appearance="fill">
                                    <mat-label>User Name</mat-label>
                                    <input type="text" matInput formControlName="user_name">
                                </mat-form-field>
                            </div>
                            <div class="row">
                                <mat-form-field appearance="fill">
                                    <mat-label>Password</mat-label>
                                    <input type="text" matInput formControlName="passwords">
                                </mat-form-field>
                            </div>
                            <button mat-raised-button color="primary" class="my-2" type="submit">
                                {{password.id ? 'Update Password' : 'Add New Password'}}
                            </button>
                            <button mat-raised-button color="warn" class="mx-2" type="button"
                                (click)="ResetEverything()">
                                Cancel
                            </button>
                        </form>
                        <!-- Form End -->
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 mt-2" *ngIf="dataSource.data.length > 0">
            <div class="card mat-elevation-z4">
                <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                    <!-- Define columns -->
                    <ng-container matColumnDef="sr">
                        <mat-header-cell *matHeaderCellDef>Sr #</mat-header-cell>
                        <mat-cell *matCellDef="let password; let i = index">{{ i + 1 }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="email">
                        <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
                        <mat-cell *matCellDef="let password">{{ password.email }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="username">
                        <mat-header-cell *matHeaderCellDef>Username</mat-header-cell>
                        <mat-cell *matCellDef="let password">{{ password.user_name }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="password">
                        <mat-header-cell *matHeaderCellDef>Password</mat-header-cell>
                        <mat-cell *matCellDef="let password">
                            {{ password.passwords }}
                            <span *ngIf="decryptedPasswords[i]">{{ decryptedPasswords[i] }}</span>
                            <button mat-icon-button color="warn" (click)="OnDecrypt(i, password.passwords)">
                                <mat-icon class="icons">close</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>


                    <ng-container matColumnDef="actions">
                        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                        <mat-cell *matCellDef="let password">
                            <button mat-icon-button color="primary" (click)="EditPassword(password)">
                                <mat-icon class="icons">edit</mat-icon>
                            </button>
                            <button mat-icon-button color="warn" (click)="DeletePassword(password)">
                                <mat-icon class="icons">delete</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>

                    <!-- Header row with column definitions -->
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <!-- Row with data rows -->
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
                <mat-paginator [length]="(dataSource.data.length || 0)" [pageSize]="5"
                    [pageSizeOptions]="[5, 10, 25, 100]">
                </mat-paginator>
            </div>
        </div>
        <ng-template #noDataTemplate>
            <div class="col-lg-12 col-md-12 col-sm-12 mt-2" *ngIf="dataSource.data.length === 0">
                <div class="card mat-elevation-z4">
                    <div class="p-2 text-center">
                        <h3>No passwords found.</h3>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-container *ngTemplateOutlet="noDataTemplate"></ng-container>

    </div>
</div>